# Supabase — obtenha em https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://vuqfvujwfwuobxwohsvg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1cWZ2dWp3Znd1b2J4d29oc3ZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMjk3NTUsImV4cCI6MjA5MDcwNTc1NX0.gjDUSDCjSnAX6AfX--S3j8pIQpq9sY2Qh3I5sy5Oh4s